

<!DOCTYPE html>
<html>
<head>
	<title>贝壳-洗衣</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/sty.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static '/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/bootstrap.minjs' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="d-flex flex-column justify-content-center align-items-center signed-out" style="background:white">

<div class="fixed-width-page">
  <div class="bg-white tiled">
  
    <form role="form" method="post">
      <div class="form-group ">
        <label for="org_slug">这是一个有关洗衣机是否处于空闲状态的纯业余网站，至少作者是这么觉得的</label>
        <div class="input-group">
          
        </div>
      </div>
    </form>
    <div class="m-t-25">
      <p>使用过程中如果发现了什么bug及建议，欢迎提交到作者邮箱 <a href="mailto:candleshadow@qq.com">candleshadow@qq.com</a>.</p>
      <p class="m-b-0">本网页仅供交流学习，并不用于任何商业用途</p>
    </div>
  </div>
</div>
<hr>


<div class="row footer-bottom">
      <ul class="list-inline text-center">
        <li>网站设计及制作</li><li>鱼摆烛潮</li>
      </ul>
    </div>



	<!-- Navigation bottom mobile -->
	<div class='primary-mobile'>
		<ul class='flex justify-around logging-in-element'>
			<li class='home' id='home-mobile'>
				<a href='/one/'>
					<span class='icons'>
						<img src='/static/images/icon-stores.svg'/>
						<img src='/static/images/icon-stores-active.svg' class='active'/>
					</span>
					<div id='home-mobile'>一斋</div>
				</a>
			</li>

			<li class='stores' id='stores-mobile'>
				<a href='/home/' class="active">
					<span class='icons'>
						<img src='/static/images/icon-home.svg'/>
						<img src='/static/images/icon-home-active.svg' class='active'/>
					</span>
					<div id='stores-mobile'>主页</div>
				</a>
			</li>
			<li class='stores' id='stores-mobile'>
				<a href='/nine/'>
					<span class='icons'>
						<img src='/static/images/icon-stores.svg'/>
						<img src='/static/images/icon-stores-active.svg' class='active'/>
					</span>
					<div id='stores-mobile'>九斋</div>
				</a>
			</li>

		</ul>
	</div>
</section>


</body>
</html>